div{
  width:370px;
  margin:50px auto;
  font-size:1.1em;
}
input,label{
  margin:5px 0;
  font-size:1em;
  padding-left:5px;
}
#width-validation{
  margin:0px;
  color:red;
}
#height-validation{
  display:inline-block;
  margin:0px;
  color:red;
}
#calculate{
  display:inline-block;
  width:70px;
  margin-left:63px;
}
